USE [ComputerShopDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2026-05-30 04:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Computers]    Script Date: 2026-05-30 04:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Brand] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Image] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Category_Id] [int] NULL,
	[Created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2026-05-30 04:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026-05-30 04:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Role_Id] [int] NOT NULL,
	[Created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Created_At]) VALUES (1, N'Laptop Gaming', CAST(N'2026-05-30T15:03:02.180' AS DateTime))
INSERT [dbo].[Categories] ([Id], [Name], [Created_At]) VALUES (2, N'Laptop Văn Phòng', CAST(N'2026-05-30T15:03:02.180' AS DateTime))
INSERT [dbo].[Categories] ([Id], [Name], [Created_At]) VALUES (3, N'Máy Trạm Đồ Họa', CAST(N'2026-05-30T15:03:02.180' AS DateTime))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Computers] ON 

INSERT [dbo].[Computers] ([Id], [Name], [Brand], [Price], [Quantity], [Image], [Description], [Category_Id], [Created_At]) VALUES (2, N'Asus ROG Strix Gen 9 - Mã 1', N'Asus', CAST(27000000.00 AS Decimal(18, 2)), 9, N'/images/default-computer.jpg', N'CPU: Intel Core i5
RAM: 16GB DDR5
Ổ cứng: 512GB NVMe SSD
Card đồ họa: Intel Iris Xe', 2, CAST(N'2026-05-30T16:06:17.977' AS DateTime))
INSERT [dbo].[Computers] ([Id], [Name], [Brand], [Price], [Quantity], [Image], [Description], [Category_Id], [Created_At]) VALUES (3, N'HP ROG Strix Gen 11 - Mã 2', N'HP', CAST(39000000.00 AS Decimal(18, 2)), 0, N'/images/default-computer.jpg', NULL, 2, CAST(N'2026-05-30T16:06:17.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Computers] OFF
GO
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Client')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [FullName], [Role_Id], [Created_At]) VALUES (1, N'HydroVN', N'AQAAAAIAAYagAAAAEGeh0nOzIqdgQuhUpynjAS3GkAEd0sEuWbtezS0hpukFu3xu1t9UkRlYghe4iAAkig==', N'Đỗ Duy Văn', 1, CAST(N'2026-05-30T15:34:29.440' AS DateTime))
INSERT [dbo].[Users] ([Id], [Username], [Password], [FullName], [Role_Id], [Created_At]) VALUES (2, N'ABC', N'AQAAAAIAAYagAAAAEN6AzhG3dDCeQRDu5QTp9Fc9hWEUvZK6hiKJZGmf88zLXoY5UzrEj81QPBPpllYKUw==', N'ABC', 2, CAST(N'2026-05-30T16:07:37.167' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4BAF7BE00]    Script Date: 2026-05-30 04:15:32 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Computers] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((2)) FOR [Role_Id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD  CONSTRAINT [FK_Computers_Categories] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Computers] CHECK CONSTRAINT [FK_Computers_Categories]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
/****** Object:  StoredProcedure [dbo].[sp_Generate50MockData]    Script Date: 2026-05-30 04:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Generate50MockData]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @i INT = 1;
    
    -- Các biến tạm để sinh dữ liệu máy tính
    DECLARE @CatId INT;
    DECLARE @Brand NVARCHAR(100);
    DECLARE @ComputerName NVARCHAR(200);
    DECLARE @Price DECIMAL(18,2);
    DECLARE @Qty INT;
    DECLARE @Desc NVARCHAR(MAX);

    WHILE @i <= 50
    BEGIN
        -- Random Category_Id từ 1 đến 3 (tương ứng Laptop Gaming, VP, Đồ họa)
        SET @CatId = (ABS(CHECKSUM(NEWID())) % 3) + 1; 
        
        -- Random Hãng sản xuất
        SET @Brand = CHOOSE((ABS(CHECKSUM(NEWID())) % 6) + 1, 'Dell', 'Asus', 'HP', 'Lenovo', 'Apple', 'MSI');
        
        -- Tạo Tên máy tính theo Hãng + Dòng máy ngẫu nhiên + Mã đếm
        SET @ComputerName = @Brand + ' ' + 
                            CHOOSE((ABS(CHECKSUM(NEWID())) % 4) + 1, 'Inspiron', 'ROG Strix', 'ThinkPad', 'EliteBook') + 
                            ' Gen ' + CAST((ABS(CHECKSUM(NEWID())) % 10) + 5 AS NVARCHAR) + 
                            ' - Mã ' + CAST(@i AS NVARCHAR);
                            
        -- Random Giá từ 10.000.000 đến 50.000.000 VNĐ
        SET @Price = (ABS(CHECKSUM(NEWID())) % 41 + 10) * 1000000; 
        
        -- Random Số lượng từ 0 (Hết hàng) đến 99 chiếc
        SET @Qty = ABS(CHECKSUM(NEWID())) % 100; 
        
        -- Trộn cấu hình ngẫu nhiên (CPU i5/i7/i9, RAM 8/16/32, VGA...)
        SET @Desc = N'CPU: Intel Core i' + CAST((ABS(CHECKSUM(NEWID())) % 3)*2 + 5 AS NVARCHAR) + CHAR(10) +
                    N'RAM: ' + CAST((ABS(CHECKSUM(NEWID())) % 3 + 1)*8 AS NVARCHAR) + N'GB DDR5' + CHAR(10) +
                    N'Ổ cứng: ' + CAST((ABS(CHECKSUM(NEWID())) % 3 + 1)*256 AS NVARCHAR) + N'GB NVMe SSD' + CHAR(10) +
                    N'Card đồ họa: ' + CHOOSE((ABS(CHECKSUM(NEWID())) % 3) + 1, 'Intel Iris Xe', 'NVIDIA RTX 3050', 'NVIDIA RTX 4060');

        -- Insert vào bảng Computers
        INSERT INTO Computers (Name, Brand, Price, Quantity, Image, Description, Category_Id)
        VALUES (@ComputerName, @Brand, @Price, @Qty, '/images/default-computer.jpg', @Desc, @CatId);

        -- Tăng biến đếm vòng lặp
        SET @i = @i + 1;
    END

    PRINT N'TẠO DỮ LIỆU THÀNH CÔNG: Đã thêm 50 máy tính ngẫu nhiên vào bảng Computers!';
END;
GO
